@font-face {
  font-family: 'iconfont'; /* Project id 1272401 */
  src: url('//at.alicdn.com/t/font_1272401_6d4bitt8ipd.woff2?t=1627394521225')
      format('woff2'),
    url('//at.alicdn.com/t/font_1272401_6d4bitt8ipd.woff?t=1627394521225')
      format('woff'),
    url('//at.alicdn.com/t/font_1272401_6d4bitt8ipd.ttf?t=1627394521225')
      format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #707070;
}

.zpicon-up:before {
  content: '\e6a9';
}

.zpicon-airplane:before {
  content: '\e649';
}

.zpicon-date:before {
  content: '\e844';
}

.zpicon-fly-body:before {
  content: '\e849';
}

.zpicon-person:before {
  content: '\e60e';
}

.zpicon-book:before {
  content: '\e856';
}

.zpicon-book1:before {
  content: '\e845';
}

.zpicon-chooseTheme:before {
  content: '\e853';
}

.zpicon-view:before {
  content: '\e633';
}

.zpicon-copyright:before {
  content: '\e68f';
}

.zpicon-beian:before {
  content: '\e601';
}
